
/* Add here all your CSS customizations */
.addNew {
	bottom:0px;
	right:50px;
	position:fixed;
	height:9px;
	background:rgba(40,45,54,0.75);
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	text-align:center;
    padding: 5px 10px 25px;
}
.addNew a {
	color:#fff;
	display:block;
}
.addNew button {
	background:transparent;
	border:0px;
	color:#FFF;
	font-size:18px;
}

.panel-body{
	position:relative;
}
.overlay {
	bottom:0;
	position:absolute;
	display:block;
	overflow:hidden;
	width:100%;
}
.panel-body .proImg {
	position:relative;
	overflow:hidden;
	width:100%;
}
.overlay label {
	font-size:30px;
	padding:20px;
	vertical-align:middle;
	cursor:pointer;
	color:rgba(255,255,255,0.5);
	display:block;
}
.overlay label:hover {
	color:rgba(255,255,255,1);
}
.overlay input, input#files{
	display:none;
}


#selectedFiles img {
	max-width: 200px;
	max-height: 200px;
	float: left;
	margin-bottom:10px;
}
